@import "tailwindcss";

@font-face {
  font-family: 'Perpetua';
  src: url(./assets/perpetua.woff2);
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:hidden;
  font-family: Perpetua;

  @media screen and (max-width:1200px){
    scale:.9
  }
  @media screen and (max-width:1080px){
    scale:.8
  }
}
body{
  @apply place-content-center  h-dvh
}

@view-transition {
  navigation: auto;
}

[style*="view-transition-name"][style*="figure-"] {
  contain: layout;
}
::view-transition-old(root) {
  animation: none
}

::view-transition-new(root) {
  animation: none
}
section{
  @apply h-full w-1/3 after:pointer-events-none place-content-center 
    nth-1:max-w-[500px]
    nth-1:after:content-[url(./assets/left-ornament.webp)]
    nth-1:after:absolute
    nth-1:after:left-5
    nth-1:after:top-1/2
    nth-1:after:-translate-y-1/2
  
    nth-1:before:content-[url(./assets/active.webp)] 
    nth-1:before:w-32 
    nth-1:before:h-32 
    nth-1:before:pointer-events-none 
    nth-1:before:absolute 
    nth-1:before:scale-[.8]
    nth-1:before:transition-all
    nth-1:before:[position-anchor:--active]
    nth-1:before:[position-area:center_center]
    nth-1:before:duration-150
    nth-1:before:animate-[active_1s_infinite]

    nth-3:after:content-[url(./assets/right-ornament.webp)] 
    nth-3:after:absolute
    nth-3:after:right-5
    nth-3:after:top-1/2
    nth-3:after:-translate-y-1/2

    nth-3:before:content-['']
    nth-3:before:w-px
    nth-3:before:bg-[#555]
    nth-3:before:h-[75%]
    nth-3:before:absolute
    nth-3:before:left-0
    nth-3:before:top-1/2
    nth-3:before:[translate:0_-50%]
    nth-3:before:mask-linear-[to_bottom,transparent,black,black,transparent]
}

svg{
  shape-rendering:geometricPrecision; 
  text-rendering:geometricPrecision; 
  image-rendering:optimizeQuality; 
  fill-rule:evenodd; 
  clip-rule:evenodd;

  path{
    opacity:1
  }
}


@keyframes active{
  to{
    scale: 1 
  }
}