@import "tailwindcss";

@font-face {
  font-family: 'Perpetua';
  src: url(./assets/perpetua.woff2);
}
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
  font-family: Perpetua;

}
html{
  @apply lg:overflow-y-hidden
}
@media screen and (max-width:1530px){
  section{
   @apply after:[zoom:.87]
  }
}
body{
  @apply place-content-center h-dvh
}

section{
  @apply h-full lg:w-1/3 w-full after:pointer-events-none place-content-center 
    lg:nth-1:max-w-[500px] nth-1:max-w-full
    lg:nth-1:after:content-[url(./assets/left-ornament.webp)] nth-1:after:content-['']
    nth-1:after:absolute
    nth-1:after:left-5
    nth-1:after:top-1/2
    nth-1:after:-translate-y-1/2

    lg:nth-3:after:content-[url(./assets/right-ornament.webp)] nth-3:after:content-[''] 
    nth-3:after:absolute
    nth-3:after:right-5
    nth-3:after:top-1/2
    nth-3:after:-translate-y-1/2

    nth-3:before:content-['']
    nth-3:before:w-px
    nth-3:before:bg-[#555]
    nth-3:before:h-[75%]
    nth-3:before:absolute
    nth-3:before:left-0
    nth-3:before:top-1/2
    nth-3:before:[translate:0_-50%]
    nth-3:before:mask-linear-[to_bottom,transparent,black,black,transparent];
}

li[data-visto="false"]{
  @apply after:content-[''] after:h-3 after:w-3 after:bg-red-400 after:blur-[1px] after:rounded-full after:absolute after:left-8 after:top-2
}
svg{
  shape-rendering:geometricPrecision; 
  text-rendering:geometricPrecision; 
  image-rendering:optimizeQuality; 
  fill-rule:evenodd; 
  clip-rule:evenodd;

  path{
    opacity:1
  }
}


@keyframes active{
  to{
    scale: 1 
  }
}
[data-active="true"]{ @apply relative
    before:content-[url(./assets/active.webp)] 
    before:w-32 
    before:h-32 
    before:pointer-events-none 
    before:absolute 
    before:left-1/2 
    before:top-1/2 
    before:[translate:-50%_-50%]
    before:scale-[.8]
    before:transition-all
    before:duration-150
    before:animate-[active_1s_infinite]
}